
/.idea
/firstproject/privet/__pycache__
/firstproject/firstproject/__pycache__
media/products/galaxyBook_*.jpg
media/products/galaxyS21_*.jpg
media/products/macbook_*.jpg
media/products/iphone_*.jpg
