
/.idea
/firstproject/privet/__pycache__
/firstproject/firstproject/__pycache__
media/products/galaxyBook_*.jpg
media/products/galaxyS21_*.jpg
media/products/macbook_*.jpg
media/products/iphone_*.jpg
/account/__pycache__
/shop/__pycache__
/practicesDjango/__pycache__
/cart/__pycache__
/cart/migrations/__pycache__
/practicesDjango/__pycache__
/shop/__pycache__
/.idea
