body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

h1, h2 {
    color: #333;
}

nav a {
    margin-right: 10px;
    text-decoration: none;
    color: #007BFF;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
}

.product-card {
    display: grid;
    background-color: white;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 15px;
    width: 250px;
    text-align: center;
    border-radius: 10px;
    align-content: space-around;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    justify-items: center;

    .image-name{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
    }
}

.product-card-about-all{
    display: inline-flex;
}

.product-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.product-card h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.product-card p {
    margin: 5px 0;
}
