{% extends "shop/base.html" %}
{% block content %}
    <h3>Наши товары</h3>
    <div class="product-list">
        {% for product in products %}
            <div class="product-card">
                <img src="{{ product.image_url }}" alt="{{ product.name }}" class="product-image">
                <h2>{{ product.name }}</h2>
                <p>{{ product.price }} руб.</p>
                <p>Бренд: {{ product.brand.name }}</p>
                <p>{{ product.description }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
