{% extends "base.html" %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock %}

{% block content %}
    <h3>Наши товары</h3>

    <!-- Форма поиска -->
    <form method="get" action="{% url 'products' %}" class="search-form">
        {{ form.query }}  <!-- Отображаем форму поиска -->
        <button type="submit" class="btn btn-search">Поиск</button>
    </form>
    
    {% if user.is_authenticated %}
        <a href="{% url 'add_product' %}" class="btn btn-add-product">Добавить товар</a>
    {% endif %}
    
    <div class="product-list">
        {% if products %}
            {% for product in products %}
                <div class="product-card">
                    <div class="image-name">
                        <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image">
                        <h2>{{ product.name }}</h2>
                    </div>
                    <p class="product-price">{{ product.price }} руб.</p>
                    <p class="product-brand">{{ product.brand.name }}</p>
                    <div class="product-actions">
                        <a href="{% url 'product_detail' product.slug %}" class="btn btn-detail">Подробнее</a>
                        <a href="{% url 'cart_add' product.id %}" class="btn btn-cart">
                            <img src="{% static 'icons/cart-plus.svg' %}" alt="Добавить в корзину" class="cart-icon">
                        </a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>Товары не найдены по вашему запросу.</p>
        {% endif %}
    </div>
{% endblock %}
