{% extends "base.html" %}
{% block content %}
    <h3>Наши товары</h3>
    <div class="product-list">
        {% for product in products %}
            <div class="product-card">
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image">
                <h2>{{ product.name }}</h2>
                <p>{{ product.price }} руб.</p>
                <p>{{ product.brand.name }}</p>
                <a href="{% url 'product_detail' product.id %}">Подробнее</a>  <!-- Ссылка на товар -->
            </div>
        {% endfor %}
    </div>
{% endblock %}
